node_modules
.epconfig/*
!.epconfig/*.example
.playwright-mcp/
solution-*.png
web/node_modules
web/dist
dist
core/**/*.js
core/**/*.d.ts
core/**/*.map
plugins/**/*.js
plugins/**/*.d.ts
plugins/**/*.map
!plugins/**/*.spec.js
helpers.js
helpers.d.ts
helpers.*.map
cert.js
cert.d.ts
cert.*.map